.base-page-layout {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr) 250px;
    gap: 20px;
}

.page-content {
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* reducir ancho máximo para mejor lectura */
    margin: 0 auto; /* centra el contenido */
}

.page-content > img, .page-content > svg{
    width: 100%;
}
.page-content .diagram {
    width: 100%;
    display: flex;
    justify-content: center;
}
.side-panel {
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 20px;
    position: sticky;
    top: calc(10px + var(--header-height));

    background-color: #171717;
    margin-bottom: 10px;

    max-height: calc(100dvh - var(--header-height) - 20px);
    overflow-y: auto;
    align-self: start;
}

.side-panel ul, .page-content ul {
    list-style-position: inside;
}

.web-side-panel {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

.page-nav-panel {
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
}

@media (max-width: 768px) {

    .base-page-layout {
        display: block;
        /*grid-template-columns: 250px minmax(0, 1fr);*/
    }



    .page-nav-panel, .web-side-panel {
        display: none;
    }
}